<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mypage</title>
    <link rel="stylesheet" href="/css/mypage.css">
</head>
<body>
<div id="wrap">
    <div class="container">
        <!-- 상단헤더 -->
        <div class="header">

            <a class="mainlogo" href="/">
                    <span>
                      <svg
                              width="65"
                              height="36"
                              viewBox="0 0 65 36"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                      >
                        <g clip-path="url(#clip0_47_13130)">
                          <path
                                  d="M9.23186 11.6511C4.1335 11.6511 0 15.6932 0 20.7962C0 27.847 9.25838 31.5884 9.23186 31.5783C9.20661 31.5884 18.4637 27.847 18.4637 20.7962C18.4637 15.6969 14.3302 11.6511 9.23186 11.6511ZM9.23186 24.4985C8.54053 24.498 7.86486 24.2924 7.2903 23.9079C6.71573 23.5233 6.26807 22.977 6.00391 22.338C5.73975 21.6991 5.67096 20.9961 5.80623 20.318C5.9415 19.6399 6.27476 19.0171 6.76388 18.5285C7.25299 18.0398 7.87599 17.7072 8.55411 17.5726C9.23223 17.438 9.93502 17.5076 10.5736 17.7725C11.2122 18.0374 11.7579 18.4857 12.1418 19.0608C12.5256 19.6359 12.7304 20.3119 12.7301 21.0034C12.731 21.4632 12.6411 21.9187 12.4656 22.3437C12.2901 22.7687 12.0325 23.1549 11.7075 23.4802C11.3825 23.8055 10.9966 24.0634 10.5718 24.2392C10.1469 24.415 9.69161 24.5053 9.23186 24.5048V24.4985Z"
                                  fill="#FF6F0F"
                          ></path>
                          <path
                                  d="M11.3103 0C9.15573 0 7.6554 1.50565 7.41923 3.28415C4.54738 2.4909 2.29688 4.67359 2.29688 7.07354C2.29688 8.9114 3.55978 10.3956 5.24324 10.8781C6.60087 11.2659 9.04586 10.9766 9.04586 10.9766C9.03323 10.383 9.58007 9.73118 10.4237 9.13751C12.8232 7.44996 14.6999 6.65419 14.9891 4.35276C15.2922 1.94523 13.5052 0 11.3103 0Z"
                                  fill="#00A05B"
                          ></path>
                          <path
                                  d="M36.7873 14.8305C34.8374 15.4431 31.4616 15.769 28.2905 15.769V11.9114H34.8399V9.03906H24.7783V18.8208C30.2808 18.8208 35.0849 18.1576 37.1132 17.5298L36.7873 14.8305Z"
                                  fill="#FF6F0F"
                          ></path>
                          <path
                                  d="M41.4104 7.89453H37.9033V19.1402H41.4104V15.6148H44.2393V12.5467H41.4104V7.89453Z"
                                  fill="#FF6F0F"
                          ></path>
                          <path
                                  d="M34.8969 19.1138C31.1814 19.1138 28.4561 21.1613 28.4561 24.1663C28.4561 27.1713 31.1839 29.2188 34.8969 29.2188C38.6098 29.2188 41.3377 27.17 41.3377 24.1663C41.3377 21.1626 38.6124 19.1138 34.8969 19.1138ZM34.8969 26.4058C33.2223 26.4058 31.9657 25.6025 31.9657 24.1613C31.9657 22.72 33.2223 21.9179 34.8969 21.9179C36.5715 21.9179 37.8281 22.7213 37.8281 24.1613C37.8281 25.6012 36.5728 26.4058 34.8969 26.4058Z"
                                  fill="#FF6F0F"
                          ></path>
                          <path
                                  d="M51.0698 20.6055H47.4844V28.2133H61.735V25.202H51.0698V20.6055Z"
                                  fill="#FF6F0F"
                          ></path>
                          <path
                                  d="M61.2902 8.83301H47.3224V11.8443H57.7692C57.7692 12.5921 57.8046 14.3706 57.4623 16.3916H44.6514V19.5065H64.1002V16.3966H60.6347C61.0995 13.8426 61.2321 11.8519 61.2902 8.83301Z"
                                  fill="#FF6F0F"
                          ></path>
                        </g>
                        <defs>
                          <clipPath id="clip0_47_13130">
                            <rect width="64.1053" height="36" fill="white"></rect>
                          </clipPath>
                        </defs>
                      </svg>
                    </span>
            </a>


            <nav>
                <li style="color: #ff6f0f">
                    <a href="/user/product/list">중고거래</a>
                </li>
                <li>
                    <a href="#">동네거래</a>
                </li>
                <li><a href="#">알바</a></li>
                <li><a href="#">부동산 직거래</a></li>
                <li><a href="#">중고차 직거래</a></li>
            </nav>
            <div class="rightform">
                <form novalidate action="#">
                    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24">
                        <g>
                            <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                        </g>
                    </svg>
                    <input placeholder="물품을 검색해보세요" type="search" class="input">

                </form>
                <div>
                    <button class="chat_btn">채팅하기</button>
                </div>

                <div class="login" sec:authorize="!isAuthenticated()">
                    <button type="button" onclick="location.href='/user/login'">로그인</button>
                </div>
                <div class="logoutmenu" sec:authorize="isAuthenticated()">
                    <div class="item">
                        <a th:href="@{/mypageHome}"> <!-- 마이페이지로 이동하는 링크를 추가 -->
                            <span sec:authentication="principal.nickname"></span>
                        </a>
                        &nbsp<span>님</span>
                        <span class="myProvider" style="display:none;"  th:text="${#authentication.getPrincipal().getUser().getProvider()}"></span>
                    </div>
                </div>


                <div class="item" sec:authorize="isAuthenticated()">
                    <form action="/user/logout" name="logoutForm"  method="post" onSubmit="return false" style="margin:0px;padding:0px;">
                        <button onclick="localLogout()" style="background-color:white;border:0px;outline:none;">로그아웃</button>
                    </form>
                </div>

            </div>


        </div>
    </div>
</div>

</div>


<!-- 메인 -->
<main>
    <nav class="nav_main" role="navigation">
        <ul class="navlist">
            <li><a href="/userUpdate.html">내 정보 변경</a></li>
            <li><a href="/pwchange.html">비밀번호 변경</a></li>
            <li><a href="/wishlist.html">관심상품</a></li>
            <li><input id="group-1" type="checkbox" hidden />
                <label for="group-1">거내내역 </label>
                <ul class="group-list">
                    <li><a href="/mybuy.html">구매물품</a></li>
                    <li><a href="/mysell.html">판매물품</a></li>
                </ul>

            </li>
            <li><label>쪽지함</label></li>
        </ul>
    </nav>
    <div class="main">

        <div class="contents">
            <div class="profile">
                <img src="/img/account.png" alt="profileimg">
            </div>
            <div class="profile_name">
                &nbsp<span>님</span>
                <span>안녕하세요</span>
                <span>오늘도 행복한 하루 되세요</span>

            </div>
        </div>


    </div>



    </div>


</main>








<!-- 푸터 -->
<hr>
<footer>
    <div>
        <section>
            <nav>
                <ul>
                    <li>
                        <a href="#">중고거래</a>
                    </li>
                    <li>
                        <a href="#">동네가게</a>
                    </li>
                    <li>
                        <a href="#">당근알바</a>
                    </li>
                    <li>
                        <a href="#">부동산 직거래</a>
                    </li>
                    <li>
                        <a href="#">중고차 직거래</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">당근비즈니스</a>
                    </li>
                    <li>
                        <a href="#">채팅하기</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <a href="#">자주 묻는 질문</a>
                    </li>
                    <li>
                        <a href="#">회사소개</a>
                    </li>
                    <li>
                        <a href="#">인재채용</a>
                    </li>
                </ul>
            </nav>
        </section>


        <section class="foot_sct2">
            <section class="foot_text1">
                <div>
                    <b>만든이</b>
                    <span>
                    송재욱
                    </span>
                </div>

            </section>
            <section class="sns_icon">

            </section>
            <section class="foot_text2">

            </section>

        </section>
    </div>
</footer>

</body>
</html>