@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");

html {
    height: 100%;
}

body {
    width:100%;
    height:100%;
    margin: 0;
      padding-top: 200px;
      padding-bottom: 40px;
      font-family: "Nanum Gothic", arial, helvetica, sans-serif;
      background-repeat: no-repeat;
      font-family: "DNFBitBitv2";
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#btn-Yes{
    background-color: #e4932b;
    border: none;
}

.form-signin .form-control {
      position: relative;
      height: auto;
      -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
         box-sizing: border-box;
      padding: 10px;
      font-size: 16px;
}

.card-title{
    margin-left: 30px;
}


a{
    color: #f58b34; text-decoration: none;
}

.links{
    text-align: center;
    margin-bottom: 10px;
}

.checks{
    color : red;
}