.logout_block{
    width :100%;
    height: 450px;
    display:flex;
    justify-content:center;
    align-items : center;
    position:relative;
    background-color:gray;
    opacity:0.5;
    z-:1;
}
.logout_block:after{
    content:"잠시만 기다려주세요...";
    font-size:0.8rem;
    display:block;
    position:absolute;
    top:120px;
    z-index:5;
}

.logout_block>*{

}

.spinner-border{
    position:relative;
    z-index:100;

}