<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product</title>
    <link rel="stylesheet" th:href="@{/css/post/list.css}" />
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<header>
    <div>
        <img
                src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base/header/logo-basic-24b18257ac4ef693c02233bf21e9cb7ecbf43ebd8d5b40c24d99e14094a44c81.svg"
        />
    </div>
    <div class="nav_right">
        <div class="logins">
            <div class="login" sec:authorize="!isAuthenticated()">
                <button type="button" onclick="location.href='/user/login'">
                    로그인
                </button>
            </div>
            <div class="logoutmenu" sec:authorize="isAuthenticated()">
                <div class="item">
                    <a th:href="@{/mypage}">
                        <!-- 마이페이지로 이동하는 링크를 추가 -->
                        <span sec:authentication="principal.nickname"></span>
                    </a>
                    &nbsp<span>님</span>
                    <span
                            class="myProvider"
                            style="display: none"
                            th:text="${#authentication.getPrincipal().getUser().getProvider()}"
                    ></span>
                </div>
            </div>

            <div class="item">
                <form
                        action="/logout"
                        name="logoutForm"
                        method="post"
                        onSubmit="return false"
                        style="margin: 0px; padding: 0px"
                >
                    <button
                            onclick="localLogout()"
                            style="background-color: white; border: 0px; outline: none"
                    >
                        로그아웃
                    </button>
                </form>
            </div>
        </div>

        <div id="open" onclick="openNav()">
            <img
                    src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base/mobile/header/icon-search-41b697063705e11ebae23d1778ef19cce46d21d878e0ef2a770ab8a563148aff.svg"
            />
        </div>
    </div>
    <nav id="nav">
        <section>
            <input type="text" placeholder="상품,지역을 검색해보세요" />
            <span style="font-weight: bolder">추천</span>
            <p>키즈카페</p>
            <p>인천 마우스</p>
            <p>분당 유모차</p>
            <p>부산 책상</p>
            <p>홍대 쇼파</p>
            <br />
            <p>죽전 자전거</p>
            <a href="#" onclick="closeNav()">닫기</a>
        </section>

        <div class="line"></div>

        <div>
            <h1>우리 동네 중고거래</h1>
            <h3>동네 주민들과 가깝고 따뜻한 거래를 지금 경험해보세요</h3>
            <button type="button" name="button">당근마켓 앱 다운받기</button>
        </div>
    </nav>

    <script type="text/javascript">
          function openNav() {
            document.getElementById("open").style.display = "none";
            document.getElementById("nav").style.display = "block";
          }

          function closeNav() {
            document.getElementById("nav").style.display = "none";
            document.getElementById("open").style.display = "block";
          }
        </script>
</header>

<div id="wrap">

    <!-- main -->

    <section class="serv_list">
        <div class="content">
            <div class="title">
                <h1>최신 중고물품</h1>
            </div>

            <!-- 리스트 -->

            <div class="item_list">

                <div th:each="post,i: ${list}" class="card">
                    <div class="img">
                        <th:block th:if="${post != null && !imageBoard.files.isEmpty()}">
                            <img th:src="@{'/post/'+${post.username}+'/'+${post.id}+'/'+${post.files.get(0)}}"alt="Image">
                        </th:block>

                    </div>
                    <div class="text">
                        <a  th:text="${post.title}" name="title"></a>
                        <p th:text="${post.details}" name="details"></p>
                        <p th:text="${post.place}" name="place"></p>
                        <td> <a class="btn btn-primary" th:href="@{/user/product/read(id=${imageBoard.id})}">사러가기</a></td>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <a class="floating_btn" type="button" href="javascript:openpop()">
        글쓰기
    </a>
    <div class="popup_layer" id="popup_layer" style="display: none">
        <div class="popup_box">
            <div style="height: 10px; width: 100%; float: top; " >
                <a href="javascript:closePop();"
                ><img
                        src="/images/ic_close.svg"
                        class="m_header-banner-close"
                        width="30px"
                        height="30px"
                        style="border:none;"
                /></a>
            </div>
            <!--팝업 컨텐츠 영역-->
            <h1>내 물건 팔기</h1>
            <form
                    id="addform"
                    action="/post/add"
                    method="post"
                    enctype="multipart/form-data"
                    onsubmit="return false"
            >
                <div class="addcontent">
                    <div class="addimg">

                        <section class="product_img_block">
                            <div class="product_img">
                                <div class="upload-box">
                                    <div class="plus">+</div>



                                </div>
                            </div>
                            <div>
                                <label>PREVIEW</label>
                                <div id="preview"></div>
                            </div>
                        </section>


                    </div>
                    <div class="addcont">

                        <label for="title" >제목</label><br />
                        <input
                                type="text"
                                id="title"
                                name="title"
                                placeholder="제목"
                        />
                    </div>
                    <br />
                    <div class="addcont">

                        <label for="price">가격</label><br />
                        <input
                                type="number"
                                id="price"
                                name="price"
                                placeholder="&#8361; 가격을 입력해주세요"
                        /><br />
                    </div>
                    <div class="addcont">

                        <label for="details">자세한 설명</label><br />
                        <input
                                type="text"
                                id="details"
                                name="details"
                                placeholder="게시글 내용을 작성해 주세요"
                                style="height: 100px;"
                        /><br />
                    </div >
                    <div class="addcont">

                        <label for="place">거래희망장소</label><br />
                        <input
                                type="text"
                                id="place"
                                name="place"

                        /><br />
                    </div >
                    <div class="writebtn">
                        <!-- <input class="addbtn" type="submit" value="작성 완료" />-->

                        <button  class='add_product-btn'>작 성 완 료</button>
                    </div>
                </div>
            </form>
            <!--팝업 버튼 영역-->
            <div class="popup_btn" style="float: bottom; margin-top: 70px">
                <a href="javascript:closePop();">닫기</a>
            </div>
        </div>
    </div>




    <!-- <button class="floating_btn"type="button" onclick="window.location.href='/user/product/add'">글쓰기</button> -->

</div>

<!-- 푸터 -->
<footer>
    <div>
        <section>
            <a href="#" style="color: white">믿을 수 있는 중고거래</a>
            <a href="#" style="color: white">자주 묻는 질문</a>
        </section>

        <section>
            <a href="#" style="color: white">광고주센터</a>
            <a href="#">동네가게</a>
        </section>

        <section>
            <a href="#">회사소개</a>
            <a href="#">채용</a>
        </section>

        <section>
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
        </section>
        <a href="#">위치기반서비스 이용약관</a>
    </div>

    <div>
        <h5>고객문의 cs@daangnservice.com</h5>
        <h5>제휴문의 contact@daangn.com</h5>
        <h5>지역광고 ad@daangn.com</h5>
        <h5>PR문의 pr@daangn.com</h5>
    </div>

    <div>
        <p>
            서울특별시 구로구 디지털로 30길 28 609호<br />
            사업자 등록번호 : 375-87-00088<br />
            직업정보제공사업 신고번호 : J1200020200016
        </p>
    </div>

    <div>
        <img
                src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base/footer/icon-facebook-0563f4a93852d073b41f13b8bcabb03d47af3bb3a6755cdfedd8a73686c7f18c.svg"
        />

        <img
                src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base/footer/icon-instagram-2f6c88a461597907c114b7ce28eab053fcae791ed26417915fefb6f7c9f95756.svg"
        />

        <img
                src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base/footer/icon-blog-e1b0d512d1766a6962ec5bbb5b0803d2a6a9c55ad97db5ba9eebb76013caceba.svg"
        />

        <img
                src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base/footer/icon-global-2f53678b428ec623cefd07a90dd7777f3e55fc0433918f645d7d75ace6ff1fc3.png"
        />
    </div>

    <small>©Danggeun Market Inc.</small>
</footer>

<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- /js/imageboard/add.js   -->
<script src="/js/add.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

function openpop() {
  document.getElementById("popup_layer").style.display = "block";
}

function closePop() {
  document.getElementById("popup_layer").style.display = "none";
}
</script>
</body>
</html>