<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>product</title>
    <link rel="stylesheet" th:href="@{/css/post/list.css}" />
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<header th:replace="header :: headerFragment"></header>
*
<div id="wrap">

    <!-- main -->

    <section class="serv_list">
        <div class="content">
            <div class="title">
                <h1>최신 중고물품</h1>
            </div>

            <!-- 리스트 -->

            <div class="item_list">

                <div th:each="post,i: ${list}" class="card">
                    <div class="img">
                        <th:block th:if="${post != null && !post.files.isEmpty()}">
                            <img th:src="@{'/post/'+${post.username}+'/'+${post.id}+'/'+${post.files.get(0)}}"alt="Image">
                        </th:block>

                    </div>
                    <div class="text">
                        <a  th:text="${post.title}" name="title"></a>
                        <p th:text="${post.details}" name="details"></p>
                        <p th:text="${post.place}" name="place"></p>
                        <td> <a class="btn btn-primary" th:href="@{/post/read(id=${post.id})}">사러가기</a></td>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <a class="floating_btn" type="button" href="javascript:openpop()">
        글쓰기
    </a>
    <div class="popup_layer" id="popup_layer" style="display: none">
        <div class="popup_box">
            <div style="height: 10px; width: 100%; float: top; " >
                <a href="javascript:closePop();"
                ><img
                        src="/images/ic_close.svg"
                        class="m_header-banner-close"
                        width="30px"
                        height="30px"
                        style="border:none;"
                /></a>
            </div>
            <!--팝업 컨텐츠 영역-->
            <h1>내 물건 팔기</h1>
            <form
                    id="addform"
                    action="/post/add"
                    method="post"
                    enctype="multipart/form-data"
                    onsubmit="return false"
            >
                <div class="addcontent">
                    <div class="addimg">

                        <section class="product_img_block">
                            <div class="product_img">
                                <div class="upload-box">
                                    <div class="plus">+</div>



                                </div>
                            </div>
                            <div>
                                <label>PREVIEW</label>
                                <div id="preview"></div>
                            </div>
                        </section>


                    </div>
                    <div class="addcont">

                        <label for="title" >제목</label><br />
                        <input
                                type="text"
                                id="title"
                                name="title"
                                placeholder="제목"
                        />
                    </div>
                    <br />
                    <div class="addcont">

                        <label for="price">가격</label><br />
                        <input
                                type="number"
                                id="price"
                                name="price"
                                placeholder="&#8361; 가격을 입력해주세요"
                        /><br />
                    </div>
                    <div class="addcont">

                        <label for="details">자세한 설명</label><br />
                        <input
                                type="text"
                                id="details"
                                name="details"
                                placeholder="게시글 내용을 작성해 주세요"
                                style="height: 100px;"
                        /><br />
                    </div >
                    <div class="addcont">

                        <label for="place">거래희망장소</label><br />
                        <input
                                type="text"
                                id="place"
                                name="place"

                        /><br />
                    </div >
                    <div class="writebtn">
                        <!-- <input class="addbtn" type="submit" value="작성 완료" />-->

                        <button  class='add_product-btn'>작 성 완 료</button>
                    </div>
                </div>
            </form>
            <!--팝업 버튼 영역-->
            <div class="popup_btn" style="float: bottom; margin-top: 70px">
                <a href="javascript:closePop();">닫기</a>
            </div>
        </div>
    </div>




    <!-- <button class="floating_btn"type="button" onclick="window.location.href='/user/product/add'">글쓰기</button> -->

</div>

<!-- 푸터 -->
<footer th:replace="footer :: footerFragment"></footer>


<!-- axios -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js" integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- /js/imageboard/add.js   -->
<script src="/js/add.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

function openpop() {
  document.getElementById("popup_layer").style.display = "block";
}

function closePop() {
  document.getElementById("popup_layer").style.display = "none";
}
</script>
</body>
</html>