<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>인기매물</title>
    <link rel="stylesheet" th:href="@{/css/post/read.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">



</head>
<body>
<header th:replace="header :: headerFragment"></header>
<div id="wrap">


</div>

<main>
    <section class="read_page">
        <div class="content">
            <div class="category">
                <nav>
                    <ol class="cate">
                        <li class="ca"><a href="#">가구</a></li>
                        <li class="ca"><a href=""></a>></li>
                        <li class="ca"><a href="#">의자</a></li>
                        <li class="ca"><a href=""></a>></li>
                        <li class="ca"><a href="#">쇼파</a></li>
                    </ol>
                </nav>
            </div>
            <div class="title">
                <p th:text="${post.title}" name="title">title</p>
            </div>
            <div class="profile">
                <div>
                    <img src="#" alt="Image">
                    <a href="#">username</a>
                </div>
                <div class="sell_select">
                    <span style="margin-right:10px ;
                      font-size:13px;">

                        <a class="update" type="button" href="javascript:openpop()">수정</a>



                      </span>
                    <span style="margin-right:10px ;
                      font-size:13px;">
                        <button class="deletePost" type="button"   onclick="deletePost()">삭제</button>




                      </span>
                    <select class="select_box">
                        <option value disabled>선택해주세요</option>
                        <option value="판매중">판매중</option>
                        <option value="예약중">예약중</option>
                        <option value="거래완료">거래완료</option>
                    </select>
                </div>
            </div>
            <hr/>
            <div class="read_info">
                <img th:src="@{${post.files[0]}}" alt="Image">

                <div class="details">
                    <p th:text="${post.price}" name="price">가격</p>
                </div>
                <div class="place">
                    <p th:text="${post.place}" name="place">여기에 장소</p>
                </div>
            </div>

            <!-- 수정하기 팝업창 -->
            <div class="popup_layer" id="popup_layer" style="display: none">
                <div class="popup_box">
                    <div style="height: 10px; width: 100%; float: top; ">
                        <a href="javascript:closePop();"
                        ><img
                                src="/images/ic_close.svg"
                                class="m_header-banner-close"
                                width="30px"
                                height="30px"
                                style="border:none;"
                        /></a>
                    </div>
                    <!--팝업 컨텐츠 영역-->
                    <h1>물건 정보 수정하기</h1>
                    <form
                            id="editform"
                            action="/post/update/{id}"
                            method="post"
                            enctype="multipart/form-data"
                            onsubmit="return false"
                    >
                        <div class="addcontent">
                            <div class="addimg">

                                <section class="product_img_block">
                                    <div class="product_img">
                                        <div class="upload-box">
                                            <div class="plus">+</div>
                                            <input type="file" id="files" name="files" multiple style="display:none;">


                                        </div>
                                    </div>
                                    <div>
                                        <label>PREVIEW</label>
                                        <div id="preview"></div>
                                    </div>
                                </section>


                            </div>
                            <div class="addcont">

                                <label for="title">제목</label><br/>
                                <input
                                        type="text"
                                        id="title"
                                        name="title"
                                        placeholder="제목"
                                />
                            </div>
                            <br/>
                            <div class="addcont">

                                <label for="price">가격</label><br/>
                                <input
                                        type="number"
                                        id="price"
                                        name="price"
                                        placeholder="&#8361; 가격을 입력해주세요"
                                /><br/>
                            </div>
                            <div class="addcont">

                                <label for="details">자세한 설명</label><br/>
                                <input
                                        type="text"
                                        id="details"
                                        name="details"
                                        placeholder="게시글 내용을 작성해 주세요"
                                        style="height: 100px;"
                                /><br/>
                            </div>
                            <div class="addcont">

                                <label for="place">거래희망장소</label><br/>
                                <input
                                        type="text"
                                        id="place"
                                        name="place"

                                /><br/>
                            </div>
                            <div class="writebtn">
                                <!-- <input class="addbtn" type="submit" value="작성 완료" />-->

                                <button class='add_product-btn'>수 정 완 료</button>
                            </div>
                        </div>
                    </form>
                    <!--팝업 버튼 영역-->
                    <div class="popup_btn" style="float: bottom; margin-top: 70px">
                        <a href="javascript:closePop();">닫기</a>
                    </div>
                </div>
            </div>
            <!-- 수정하기 끝 -->

            <hr/>
            <div class="read_Btn">
                <div class="read_btn">
                    <button>구매 문의 채팅</button>
                </div>
                <div class="read_btn">
                    <button>관심상품등록</button>
                </div>
            </div>
            <hr/>
            <div class="reply">
                <div class="reply_option">
                    <h3>댓글</h3>
                    <div class="reply_alarm">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="16"
                                height="28"
                                fill="currentColor"
                                class="bi bi-bell"
                                viewBox="0 0 16 16"
                        >
                            <path
                                    d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"
                            />
                        </svg>
                        <p>관심글 댓글 알람</p>
                        <div class="alarm_toggle">
                            <label class="switch">
                                <input checked="" type="checkbox"/>
                                <div class="slider">
                                    <div class="circle">
                                        <svg
                                                class="cross"
                                                xml:space="preserve"
                                                style="enable-background: new 0 0 512 512"
                                                viewBox="0 0 365.696 365.696"
                                                y="0"
                                                x="0"
                                                height="6"
                                                width="6"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                version="1.1"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                            <g>
                              <path
                                      data-original="#000000"
                                      fill="currentColor"
                                      d="M243.188 182.86 356.32 69.726c12.5-12.5 12.5-32.766 0-45.247L341.238 9.398c-12.504-12.503-32.77-12.503-45.25 0L182.86 122.528 69.727 9.374c-12.5-12.5-32.766-12.5-45.247 0L9.375 24.457c-12.5 12.504-12.5 32.77 0 45.25l113.152 113.152L9.398 295.99c-12.503 12.503-12.503 32.769 0 45.25L24.48 356.32c12.5 12.5 32.766 12.5 45.247 0l113.132-113.132L295.99 356.32c12.503 12.5 32.769 12.5 45.25 0l15.081-15.082c12.5-12.504 12.5-32.77 0-45.25zm0 0"
                              ></path>
                            </g>
                          </svg>
                                        <svg
                                                class="checkmark"
                                                xml:space="preserve"
                                                style="enable-background: new 0 0 512 512"
                                                viewBox="0 0 24 24"
                                                y="0"
                                                x="0"
                                                height="10"
                                                width="10"
                                                xmlns:xlink="http://www.w3.org/1999/xlink"
                                                version="1.1"
                                                xmlns="http://www.w3.org/2000/svg"
                                        >
                            <g>
                              <path
                                      class=""
                                      data-original="#000000"
                                      fill="currentColor"
                                      d="M9.707 19.121a.997.997 0 0 1-1.414 0l-5.646-5.647a1.5 1.5 0 0 1 0-2.121l.707-.707a1.5 1.5 0 0 1 2.121 0L9 14.171l9.525-9.525a1.5 1.5 0 0 1 2.121 0l.707.707a1.5 1.5 0 0 1 0 2.121z"
                              ></path>
                            </g>
                          </svg>
                                    </div>
                                </div>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="comment_box">
                    <div class="comment_inbox">
                        <div class="comment_inbox_name">
                            <em>프로필들어갈곳</em>
                        </div>
                        <textarea
                                class="comment_inbox_text"
                                placeholder="댓글을 남겨보세요"
                                rows="1"
                                style="
                      overflow: hidden;
                      overflow-wrap: break-word;
                      height: 17px;
                    "
                        ></textarea>
                    </div>
                    <div class="comment_attath">
                        <a href="#">등록</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</div>

<!-- 푸터 -->
<hr>
<footer th:replace="footer :: footerFragment"></footer>

<!-- axios -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
        integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/js/update.js"></script>
<script>

function openpop() {
  document.getElementById("popup_layer").style.display = "block";
}

function closePop() {
  document.getElementById("popup_layer").style.display = "none";
}

</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--<script src="/js/delete.js"></script>-->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        /*<![CDATA[*/

            // 게시글 삭제
            function deletePost() {
                const id = [[ ${post.id} ]];

                if ( !confirm(id + '번 게시글을 삭제할까요?') ) {
                    return false;
                }

                const formHtml = `
                    <form id="deleteForm" action="/post/delete.do" method="post">
                        <input type="hidden" id="id" name="id" value="${id}" />
                    </form>
                `;
                const doc = new DOMParser().parseFromString(formHtml, 'text/html');
                const form = doc.body.firstChild;
                document.body.append(form);
                document.getElementById('deleteForm').submit();
            }

        /*]]>*/

        </script>
</th:block>
</body>
</html>