/* 헤더 */
@charset "UTF-8";
@font-face {
  font-family: "DNFBitBitv2";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf")
    format("opentype");
}

*,
*::before *::after {
  margin: 0px;
  padding: 0px;
  outline: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  min-height: 100%;
  min-width: 100%;
  font-family: "DNFBitBitv2";

  display: inline;
}
section,
article,
aside,
footer,
header,
nav,
hgroup {
  display: block;
}

ul,
ol,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
  list-style: none;
}
input:focus {
  outline: none;
}
div {
  display: block;
}

button {
  background: none;
  color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}
#wrap > .container {
  background-color: #ffffff;
  width: 100%;
  height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  max-width: 100vw;
  z-index: 999;
}


/* 메인 */
/* 사이드 메뉴바 스타일 */


.nav_main {
  position: absolute;
  top: 45%;
  bottom: 50%;
  left: 20px;
  transform: translate(-50%, -50%);
  max-height: 100vh;
  height: 1050px;
  width: 30px;
}

ul {
  padding: 0;
  margin: 0;
}


.main {
    height: 1000px;
    margin-top: 100px;
    margin-left: 200px;
    width: 1200px;



  }

  .main> .contents{

    border: 1px solid black;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content:center;


}
.profile {
    line-height: 25;
    margin-left: 50px;
}
.profile_name{
    line-height: 7;
    font-size: x-large;
}



