<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/footer.css">

</head>
<body>
<footer th:fragment="footerFragment" >
    <div>
        <section>
            <a href="#" style="color: white">믿을 수 있는 중고거래</a>
            <a href="#" style="color: white">자주 묻는 질문</a>
        </section>

        <section>
            <a href="#" style="color: white">광고주센터</a>
            <a href="#">동네가게</a>
        </section>

        <section>
            <a href="#">회사소개</a>
            <a href="#">채용</a>
        </section>

        <section>
            <a href="#">이용약관</a>
            <a href="#">개인정보처리방침</a>
        </section>
        <a href="#">위치기반서비스 이용약관</a>
    </div>

    <div>
        <h5>고객문의 cs@daangnservice.com</h5>
        <h5>제휴문의 contact@daangn.com</h5>
        <h5>지역광고 ad@daangn.com</h5>
        <h5>PR문의 pr@daangn.com</h5>
    </div>

    <div>
        <p>
            서울특별시 구로구 디지털로 30길 28 609호<br />
            사업자 등록번호 : 375-87-00088<br />
            직업정보제공사업 신고번호 : J1200020200016
        </p>
    </div>

    <div>
        <img
                src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base/footer/icon-facebook-0563f4a93852d073b41f13b8bcabb03d47af3bb3a6755cdfedd8a73686c7f18c.svg"
        />

        <img
                src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base/footer/icon-instagram-2f6c88a461597907c114b7ce28eab053fcae791ed26417915fefb6f7c9f95756.svg"
        />

        <img
                src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base/footer/icon-blog-e1b0d512d1766a6962ec5bbb5b0803d2a6a9c55ad97db5ba9eebb76013caceba.svg"
        />

<!--        <img-->
<!--                src="https://d1unjqcospf8gs.cloudfront.net/assets/home/base/footer/icon-global-2f53678b428ec623cefd07a90dd7777f3e55fc0433918f645d7d75ace6ff1fc3.png"-->
<!--        />-->
    </div>

    <small>©Danggeun Market Inc.</small>
</footer>

</body>
</html>