<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
    <meta charset="UTF-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, maximum-scale=3.0"
    />
    <title>당근마켓</title>

    <link rel="stylesheet" href="css/home.css"/>
    <link rel="stylesheet" href="css/header.css"/>
    <link rel="stylesheet" href="css/footer.css"/>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
</head>

<body>
<header th:replace="header :: headerFragment"></header>

<main>
    <section>
        <h1>당신 근처의<br/>당근마켓</h1>
        <h3>
            중고 거래부터 동네 정보까지, 이웃과 함께해요.<br/>
            가깝고 따뜻한 당신의 근처를 만들어요.
        </h3>
    </section>

    <img
            src="https://d1unjqcospf8gs.cloudfront.net/assets/home/main/mobile/2x/image-top-440be5c4a4b2c7f2f6f5fc8d41f37a646ebdbbcfdd97613e86ef6784573c901a.png"
    />
</main>

<article class="first">
    <section>
        <h1>우리동네<br/>중고 직거래 마켓</h1>
        <h3>
            동네 주민들과 가깝고 따뜻한 거래를<br/>
            지금 경험해보세요.
        </h3>
    </section>

    <div>
        <button type="button" id="postview" name="button" onclick="location.href='/post/list'">인기매물 보기</button>
        <br/>
        <button type="button" name="button">믿을 수 있는 중고거래</button>
    </div>

    <img
            src="https://d1unjqcospf8gs.cloudfront.net/assets/home/main/mobile/image-1-78cecbae525ff615d0d3994dfd67cff0da7dc56303e27a64ee9a90185700e38b.png"
    />
</article>

<article class="second">
    <section>
        <h1>이웃과 함께 하는 <br/>동네생활</h1>
        <h3>
            우리 동네의 다양한 이야기를<br/>
            이웃과 함께 나누어요.
        </h3>
    </section>

    <img
            src="https://d1unjqcospf8gs.cloudfront.net/assets/home/main/mobile/image-2-66996393fc749a1bc4c20c65bd11910b73663fea91509e2598c95d23e0e050ec.png"
    />
</article>

<article class="third">
    <section>
        <h1>내 근처에서 찾는<br/>동네가게</h1>
        <h3>
            동네 주민들과 가깝고 따뜻한 거래를<br/>
            지금 경험해보세요.
        </h3>
    </section>

    <div>
        <button type="button" name="button">당근마켓 동네가게 찾기</button>
    </div>

    <img
            src="https://d1unjqcospf8gs.cloudfront.net/assets/home/main/mobile/image-3-12049b3b42f788be681f13f78d9698e8a3b98b48370b07c3e47efdc56cf79b5c.png"
    />
</article>

<article class="products">
    <h1>중고거래 인기매물</h1>

    <div>
        <section>
            <div>
                <img
                        src="https://dnvefa72aowie.cloudfront.net/origin/article/202107/38b1a43340e9aabdb474da1ab0d501f95df9d8e5c3fdac48f1e78dd9d9bf6758.webp?q=82&s=300x300&t=crop"
                />
                <h2>자전거</h2>
                <h3>120,000원</h3>
                <h4>사랑시 고백구 행복동</h4>
                <small>관심 55 채팅 91</small>
            </div>

            <div>
                <img
                        src="https://dnvefa72aowie.cloudfront.net/origin/article/202107/ea06fd0f1a31a9217a87e84e6dc1840b9e87742068621bdd8cc5955258ecb334.webp?q=82&s=300x300&t=crop"
                />
                <h2>공기청정기</h2>
                <h3>250,000원</h3>
                <h4>사랑시 고백구 행복동</h4>
                <small>관심 55 채팅 91</small>
            </div>
        </section>

        <section>
            <div>
                <img
                        src="https://dnvefa72aowie.cloudfront.net/origin/article/202107/38b1a43340e9aabdb474da1ab0d501f95df9d8e5c3fdac48f1e78dd9d9bf6758.webp?q=82&s=300x300&t=crop"
                />
                <h2>자전거</h2>
                <h3>120,000원</h3>
                <h4>사랑시 고백구 행복동</h4>
                <small>관심 55 채팅 91</small>
            </div>

            <div>
                <img
                        src="https://dnvefa72aowie.cloudfront.net/origin/article/202107/ea06fd0f1a31a9217a87e84e6dc1840b9e87742068621bdd8cc5955258ecb334.webp?q=82&s=300x300&t=crop"
                />
                <h2>공기청정기</h2>
                <h3>250,000원</h3>
                <h4>사랑시 고백구 행복동</h4>
                <small>관심 55 채팅 91</small>
            </div>
        </section>

        <section>
            <div>
                <img
                        src="https://dnvefa72aowie.cloudfront.net/origin/article/202107/38b1a43340e9aabdb474da1ab0d501f95df9d8e5c3fdac48f1e78dd9d9bf6758.webp?q=82&s=300x300&t=crop"
                />
                <h2>자전거</h2>
                <h3>120,000원</h3>
                <h4>사랑시 고백구 행복동</h4>
                <small>관심 55 채팅 91</small>
            </div>

            <div>
                <img
                        src="https://dnvefa72aowie.cloudfront.net/origin/article/202107/ea06fd0f1a31a9217a87e84e6dc1840b9e87742068621bdd8cc5955258ecb334.webp?q=82&s=300x300&t=crop"
                />
                <h2>공기청정기</h2>
                <h3>250,000원</h3>
                <h4>사랑시 고백구 행복동</h4>
                <small>관심 55 채팅 91</small>
            </div>
        </section>
    </div>

    <a href="#">인기매물 더 보기</a>
</article>
<!--푸터-->
<footer th:replace="footer :: footerFragment"></footer>

</body>
<script>
    document.getElementById('postview').addEventListener('click', function(){
    location.href='/post/list'})


</script>


>
</html>
