<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/common/sidenav.css"/>
</head>
<body>
<nav class="nav_main" role="navigation" th:fragment="sidenavFragment">
    <ul class="navlist">
        <li><a href="/userUpdate.html">내 정보 변경</a></li>
        <li><a href="/pwchange.html">비밀번호 변경</a></li>
        <li><a href="/wishlist.html">관심상품</a></li>
        <li><input id="group-1" type="checkbox" hidden />
            <label for="group-1">거내내역 </label>
            <ul class="group-list">
                <li><a href="/mybuy.html">구매물품</a></li>
                <li><a href="/mysell.html">판매물품</a></li>
            </ul>

        </li>
        <li><label>쪽지함</label></li>
    </ul>
</nav>
</body>
</html>